<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${item.id}"  type="hidden">
												
																																	<div class="form-group">	
								<label class="col-sm-3 control-label">项目名称：</label>
								<div class="col-sm-8">
																		<input id="itemname" name="itemname" th:value="${item.itemname}" class="form-control" type="text">
																	</div>
							</div>
																											<div class="form-group">	
								<label class="col-sm-3 control-label">项目类型：</label>
								<div class="col-sm-8">
																		<input id="packagetype" name="packagetype" th:value="${item.packagetype}" class="form-control" type="text">
																	</div>
							</div>
																											<div class="form-group">	
								<label class="col-sm-3 control-label">花费时间：</label>
								<div class="col-sm-8">
																		<input id="spendtime" name="spendtime" th:value="${item.spendtime}" class="form-control" type="text">
																	</div>
							</div>
																											<div class="form-group">	
								<label class="col-sm-3 control-label">花费金额：</label>
								<div class="col-sm-8">
																		<input id="spendpay" name="spendpay" th:value="${item.spendpay}" class="form-control" type="text">
																	</div>
							</div>
																											<div class="form-group">	
								<label class="col-sm-3 control-label">状态：</label>
								<div class="col-sm-8">
																		<input id="status" name="status" th:value="${item.status}" class="form-control" type="text">
																	</div>
							</div>
																											<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
																		<input id="gmtcreate" name="gmtcreate" th:value="${item.gmtcreate} eq null ? '' : ${#dates.format(item.gmtcreate, 'yyyy-MM-dd HH:mm:ss')}" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" class="form-control" type="text">
																	</div>
							</div>
																											<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
																		<input id="gmtmodify" name="gmtmodify" th:value="${item.gmtmodify} eq null ? '' : ${#dates.format(item.gmtmodify, 'yyyy-MM-dd HH:mm:ss')}" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" class="form-control" type="text">
																	</div>
							</div>
																				<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script src="//s.xlongwei.com/res/js/My97DatePicker/WdatePicker.js"></script>
	<script type="text/javascript" src="/js/appjs/quotation/item/edit.js">
	</script>
</body>
</html>
