<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ifast.quotation.dao.ItemDao">

    <insert id="insertLink">
        insert into db_re_item_entry(entryId,itemId)
        values( #{entityId},#{itemId})
    </insert>
    <select id="selectEntryId" resultType="java.lang.Long">
        select entryId from db_re_item_entry
        where itemId =#{itemId }
    </select>
</mapper>